<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcode.mapper.ClassMapper" >
  <resultMap id="BaseResultMap" type="com.jcode.model.Class" >
    <id column="classId" property="classId" jdbcType="INTEGER" />
    <result column="className" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class
    where classId = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcode.model.Class" >
    insert into class (classId, className)
    values (#{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jcode.model.Class" >
    update class
    set className = #{className,jdbcType=VARCHAR}
    where classId = #{classId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select classId, className
    from class
    where classId = #{classId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select classId, className
    from class
  </select>
</mapper>